<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xerox_NVM_Automation_Hub.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Xerox_NVM_Automation_Hub.My.MySettings>
            <setting name="PWSLock_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="PWSLock_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentEXEPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DiagnosticTools_Machines" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="DiagnosticTools_Paths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="DiagnosticTools_Arguments" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="NVMScriptDirectories_Paths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="NVMScriptDirectories_Names" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="DiagnosticTools_TitleBar" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="PWSLock_Password_Enter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PWSLock_Password_EnterAsked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="NVMModify_LastFolder" serializeAs="String">
                <value>"C:\"</value>
            </setting>
        </Xerox_NVM_Automation_Hub.My.MySettings>
    </userSettings>
</configuration>
